@font-face {
  font-family: 'Muller Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MullerRegular.woff2") format("woff2"),
  url("./fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: 'Muller Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/MullerBold.woff2") format("woff2"),
  url("./fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-family: 'Muller Extra Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/MullerExtraBold.woff2") format("woff2"),
  url("./fonts/MullerExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Muller Black';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/MullerBlack.woff2") format("woff2"),
  url("./fonts/MullerBlack.woff") format("woff");
}

body {
  color: #181A1A;
  background-color: #ffffff;
  font-family: Muller Regular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.colored-heading {
  margin-top: 0;
  margin-bottom: 45px;
  font-family: Muller Extra Bold, sans-serif;
  color: #B99150;
  font-size: 45px;
  line-height: 55px;
}

.colored-heading--orange {
  color: #FFAF18;
}

.button {
  color: #382400;
  background-color: #FFAF18;
  padding: 20px 54px;
  font-family: Muller Bold, sans-serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
}

.button:hover {
  color: #ffffff;
  background-color: #7c5202;
}

.navigation {
  box-shadow: 0 5px 10px rgb(223, 223, 223);
  margin-bottom: 75px;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: 180px;
}

.navigation__name {
  font-family: Muller Black, sans-serif;
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
  color: #FFC468;
  margin-left: 10px;
}

.navigation__menu {
  margin-right: 300px;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 50px;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #A46B00;
}

.navigation__link:hover {
  color: #7c5202;
}

.inner {
  margin-bottom: 155px;
}

.inner__wrapper {
  background-image: url('./img/pizza_big.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 520px 342px;
}

.inner__content {
  max-width: 625px;
}

.inner__list {
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.inner__item {
  padding-left: 78px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.inner__item--hop {
  background-image: url('./img/hop.png');
}

.inner__item--kitchen {
  background-image: url('./img/kitchen-pack.png');
}

.inner__item--reward {
  background-image: url('./img/seo-and-web.png');
}

.inner__item--dish {
  background-image: url('./img/holidays.png');
}

.inner__h3 {
  text-transform: uppercase;
  color: #FFAF18;
  font-family: Muller Extra Bold, sans-serif;
  margin: 0;
  margin-bottom: 5px;
}

.inner__text {
  color: #B99150;
  margin: 0;
}

.inner__button {
  max-width: fit-content;
}

.products {
  margin-bottom: 160px;
}

.products__heading {
  margin: 0;
  margin-bottom: 50px;
  color: #BD985C;
  text-align: center;
  font-size: 35px;
  font-family: Muller Bold, sans-serif;
  line-height: 55px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 25px;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px 15px;
  box-shadow: 0px 0px 10px 0px rgb(223, 223, 223);

  text-align: center;
}

.products__title {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 7px;
}

.products__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

.order {
  background-image: url('./img/pizzzzza.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 410px 454px;
  padding-top: 54px;
}

.order__form {
  display: flex;
  flex-direction: column;
}
